.about {
  padding: 110px 30px;
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .about {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 550px) {
  .about {
    padding: 70px 14px;
    margin: 0;
  }
}

.about__title {
  margin: 0;
  margin-bottom: 70px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  padding-bottom: 23px;
  border-bottom: 1px solid;
}

@media screen and (max-width: 550px) {
  .about__title {
    margin-bottom: 60px;
  }
}

.about__description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

@media screen and (max-width: 768px) {
  .about__description {
    column-gap: 30px;
  }
}

@media screen and (max-width: 550px) {
  .about__description {
    grid-template-columns: 1fr;
  }
}

.about__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 550px) {
  .about__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}

.about__caption {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 26px 0 110px;
}

@media screen and (max-width: 768px) {
  .about__caption {
    font-size: 12px;
    line-height: 18px;
    margin: 22px 0 93px;
  }
}

@media screen and (max-width: 550px) {
  .about__caption {
    font-size: 11px;
    line-height: 16px;
    margin: 16px 0 60px;
  }
}

.about__graph {
  display: grid;
  grid-template-columns: 20% 80%;
}

@media screen and (max-width: 550px) {
  .about__graph {
    grid-template-columns: 1fr 2fr;
  }
}

.about__week {
  background-color: var(--accent-color);
  color: var(--alt-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 9px 0;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .about__week {
    font-size: 11px;
    line-height: 13px;
  }
}

.about__weeks {
  background-color: #f2f2f2;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 9px 0;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .about__weeks {
    font-size: 11px;
    line-height: 13px;
  }
}

.about__week-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--secondary--text);
}

@media screen and (max-width: 550px) {
  .about__week-name {
    font-size: 11px;
    line-height: 13px;
  }
}
