.menu {
  position: absolute;
  display: none;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.menu_opened {
  display: flex;
}

.menu__nav {
  padding: 19vh 0 12vh;
  box-sizing: border-box;
  background-color: var(--primary-bg);
  max-width: 520px;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  opacity: 1;
}

.menu__close {
  position: absolute;
  top: 23px;
  right: 23px;
  width: 38px;
  height: 38px;
  background-image: url('../../assets/cross.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
  padding: 4px 0;
}

.menu__link_active {
  border-bottom: 2px solid;
}
