.movie {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

.movie__header {
  display: flex;
  flex: 1;
  padding: 14px;
}

.movie__info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.movie__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin: 0 0 9px 0;
  flex: 1;
}

.movie__time {
  margin: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: var(--secondary--text);
}

.movie__save {
  align-self: center;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.movie__image {
  width: 100%;
  max-height: 203px;
  object-fit: cover;
  object-position: center;
}
